---
layout: editorial
---
<article class="lh__post">
  <div class="lh__post__head">
    <span class="lh__post__crumb">writing / {{ page.url | split: "/" | last }}.md</span>
    <time class="lh__post__date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
  </div>

  <div class="lh__post__body">
    <h1 class="lh__post__title">{{ page.title }}</h1>
    {% if page.description %}
      <p class="lh__post__sub">{{ page.description }}</p>
    {% endif %}

    <div class="lh__post__content">
      {{ content }}
    </div>
  </div>
</article>

<p class="lh__backlink">
  <a href="{{ '/writing/' | relative_url }}">~/writing</a>
</p>
